.wp-has-submenu {
  z-index: 1001;
}

.catmapper-internal-map {
  min-height: 550px;
  width: 100%;
}

.catmapper-internal-map.leaflet-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 28px!important;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 1002;
}

.leaflet-control-fullscreen {
  background-image: url( '../../plugins/cat-tracker/resources/images/icon-fullscreen.png' );
  margin-bottom: 5px;
}

.cat-tracker-map-icon:before {
  content: "\f041";
  font-family: 'FontAwesome';
  font-size: 32px;
  color: #2682D0;
  display: block;
  position: relative;
  margin: inherit;
}